bcrypt==4.2.1
blinker==1.9.0
certifi
cffi==1.17.1
charset-normalizer
click==8.1.8
cryptography
decorator
fabric==3.2.2
Flask==3.1.0
Flask-pyoidc==3.14.3
idna
importlib-resources
invoke
itsdangerous
Jinja2==3.1.5
Mako
MarkupSafe
oic==1.6.1
paramiko
pycparser
pycryptodomex
pydantic
pydantic-settings
pydantic_core
pyjwkest
PyNaCl
python-dotenv
requests
six
typing_extensions
urllib3
Werkzeug
wrapt
